# TD PANDAS

Commençons par générer les données factices avec la bibliothèque `faker`.

In [308]:
from faker import Faker
import pandas as pd
import numpy as np
import random
from math import sqrt

# Fixer la graine (seed) avoir tous les mêmes valeurs
seed_value = 123
Faker.seed(seed=seed_value)

# Initialiser l'objet Faker
fake = Faker()

# Générer 50 noms de personnes aléatoires
noms = [fake.name() for _ in range(50)]

# Générer 50 âges aléatoires entre 20 et 60
ages = [fake.random_int(min=20, max=60) for _ in range(50)]

# Générer 50 villes aléatoires parmi Paris, Londres, New York
villes = [fake.random_element(elements=('Paris', 'Londres', 'New York')) for _ in range(50)]

# Générer 50 salaires aléatoires entre 30,000 et 100,000
salaires = [fake.random_int(min=30000, max=100000) for _ in range(50)]

# Créer le DataFrame
data = {'Nom': noms, 'Age': ages, 'Ville': villes, 'Salaire': salaires}
df = pd.DataFrame(data)

### Exercice 1
Affichez les cinq premières lignes du DataFrame.

In [309]:
df.head(5)

                Nom  Age    Ville  Salaire
0   Brandon Russell   40  Londres    36392
1    Steven Johnson   36  Londres    53882
2  Evelyn Christian   45    Paris    46166
3       George Cook   22  Londres    32609
4      Aaron Graham   52  Londres    86114

### Exercice 2
Affichez le nombre total de lignes et de colonnes dans le DataFrame.

In [310]:
df.shape

(50, 4)

### Exercice 3
Affichez les statistiques descriptives pour la colonne 'Age'.

In [311]:
# Je sais pas c quoi

### Exercice 4
Sélectionnez uniquement les lignes où l'âge est supérieur à 40.

In [312]:
df[df['Age'] > 40]
# df.query('Age > 40')

                 Nom  Age     Ville  Salaire
2   Evelyn Christian   45     Paris    46166
4       Aaron Graham   52   Londres    86114
7      Charles Tyler   52   Londres    92563
12     James Hammond   56   Londres    78467
15      Jade Johnson   58   Londres    90739
18       James Jones   41   Londres    31826
19    Kenneth Rogers   55     Paris    72024
20    Brandon Fuller   54   Londres    80659
22       Misty Stout   54  New York    38209
24      Cynthia Webb   50     Paris    67367
25   William Wallace   51   Londres    52022
26     Amanda Taylor   45     Paris    84533
29      Arthur Kelly   56   Londres    35689
30     Jeffrey Smith   51     Paris    31700
31      Angel Benson   41   Londres    95117
32     William Baker   45  New York    51596
34       Mark Booker   52   Londres    36110
36  Jacqueline Young   59  New York    98782
37       Shawn Brown   60   Londres    51748
39    Sydney Parsons   58   Londres    55435
40   Cameron Proctor   58  New York    69682
41         Lori Pham   51  New York    95514
42    Antonio Taylor   41   Londres    91261
43      Hannah Pitts   57     Paris    59378
46  Shelby Robertson   43  New York    42079
47  Jonathan Gardner   49  New York    43530
48   Steven Peterson   43   Londres    88027
49   Jonathan Harris   46   Londres    66608

### Exercice 5
Calculez la moyenne du salaire pour chaque ville.

In [313]:
df.groupby('Ville')['Salaire'].mean()

Ville
Londres     69570.400000
New York    62001.461538
Paris       60936.333333
Name: Salaire, dtype: float64

### Exercice 6
Ajoutez une nouvelle colonne 'Prime' avec des valeurs aléatoires entre 500 et 2000.

In [314]:
df['Prime'] = [random.randint(500, 2000) for i in range(df.shape[0])]
df

                  Nom  Age     Ville  Salaire  Prime
0     Brandon Russell   40   Londres    36392    568
1      Steven Johnson   36   Londres    53882    623
2    Evelyn Christian   45     Paris    46166    532
3         George Cook   22   Londres    32609   1445
4        Aaron Graham   52   Londres    86114   1998
5          Kyle Jones   25     Paris    95071   1487
6    Jerome Whitehead   32     Paris    47287   1682
7       Charles Tyler   52   Londres    92563   1631
8        Thomas Berry   32     Paris    35604    828
9           Ryan Mack   21   Londres    91644   1752
10       Robert Clark   32   Londres    48553    545
11     Kelsey Pacheco   37  New York    72708    638
12      James Hammond   56   Londres    78467    684
13     Melinda Little   34     Paris    58948    642
14    Stefanie Tucker   25  New York    34214   1860
15       Jade Johnson   58   Londres    90739   1025
16  Catherine Wilkins   40   Londres    96075   1909
17       Mary Jackson   25     Paris    67841   1776
18        James Jones   41   Londres    31826   1345
19     Kenneth Rogers   55     Paris    72024    807
20     Brandon Fuller   54   Londres    80659   1396
21       Harold Perez   28  New York    59828   1795
22        Misty Stout   54  New York    38209   1547
23      Wendy Maynard   28   Londres    63208   1175
24       Cynthia Webb   50     Paris    67367    620
25    William Wallace   51   Londres    52022   1988
26      Amanda Taylor   45     Paris    84533    629
27         David Bell   21  New York    76874   1413
28     Jeffrey Fisher   36   Londres    85702   1513
29       Arthur Kelly   56   Londres    35689    780
30      Jeffrey Smith   51     Paris    31700   1227
31       Angel Benson   41   Londres    95117   1544
32      William Baker   45  New York    51596   1579
33        Paul Rogers   34  New York    55983   1804
34        Mark Booker   52   Londres    36110   1242
35   Jennifer Robbins   28     Paris    65317   1473
36   Jacqueline Young   59  New York    98782   1792
37        Shawn Brown   60   Londres    51748    940
38    Kimberly Thomas   20   Londres    99629    999
39     Sydney Parsons   58   Londres    55435    898
40    Cameron Proctor   58  New York    69682   1727
41          Lori Pham   51  New York    95514   1021
42     Antonio Taylor   41   Londres    91261    759
43       Hannah Pitts   57     Paris    59378    687
44   Veronica Barnett   27  New York    67020   1302
45       Rick Johnson   23   Londres    99181   1763
46   Shelby Robertson   43  New York    42079   1578
47   Jonathan Gardner   49  New York    43530    912
48    Steven Peterson   43   Londres    88027    750
49    Jonathan Harris   46   Londres    66608    555

### Exercice 7
Supprimez la colonne 'Nom' du DataFrame.

In [315]:
# df.drop('Nom', axis=1, inplace=True)
df

                  Nom  Age     Ville  Salaire  Prime
0     Brandon Russell   40   Londres    36392    568
1      Steven Johnson   36   Londres    53882    623
2    Evelyn Christian   45     Paris    46166    532
3         George Cook   22   Londres    32609   1445
4        Aaron Graham   52   Londres    86114   1998
5          Kyle Jones   25     Paris    95071   1487
6    Jerome Whitehead   32     Paris    47287   1682
7       Charles Tyler   52   Londres    92563   1631
8        Thomas Berry   32     Paris    35604    828
9           Ryan Mack   21   Londres    91644   1752
10       Robert Clark   32   Londres    48553    545
11     Kelsey Pacheco   37  New York    72708    638
12      James Hammond   56   Londres    78467    684
13     Melinda Little   34     Paris    58948    642
14    Stefanie Tucker   25  New York    34214   1860
15       Jade Johnson   58   Londres    90739   1025
16  Catherine Wilkins   40   Londres    96075   1909
17       Mary Jackson   25     Paris    67841   1776
18        James Jones   41   Londres    31826   1345
19     Kenneth Rogers   55     Paris    72024    807
20     Brandon Fuller   54   Londres    80659   1396
21       Harold Perez   28  New York    59828   1795
22        Misty Stout   54  New York    38209   1547
23      Wendy Maynard   28   Londres    63208   1175
24       Cynthia Webb   50     Paris    67367    620
25    William Wallace   51   Londres    52022   1988
26      Amanda Taylor   45     Paris    84533    629
27         David Bell   21  New York    76874   1413
28     Jeffrey Fisher   36   Londres    85702   1513
29       Arthur Kelly   56   Londres    35689    780
30      Jeffrey Smith   51     Paris    31700   1227
31       Angel Benson   41   Londres    95117   1544
32      William Baker   45  New York    51596   1579
33        Paul Rogers   34  New York    55983   1804
34        Mark Booker   52   Londres    36110   1242
35   Jennifer Robbins   28     Paris    65317   1473
36   Jacqueline Young   59  New York    98782   1792
37        Shawn Brown   60   Londres    51748    940
38    Kimberly Thomas   20   Londres    99629    999
39     Sydney Parsons   58   Londres    55435    898
40    Cameron Proctor   58  New York    69682   1727
41          Lori Pham   51  New York    95514   1021
42     Antonio Taylor   41   Londres    91261    759
43       Hannah Pitts   57     Paris    59378    687
44   Veronica Barnett   27  New York    67020   1302
45       Rick Johnson   23   Londres    99181   1763
46   Shelby Robertson   43  New York    42079   1578
47   Jonathan Gardner   49  New York    43530    912
48    Steven Peterson   43   Londres    88027    750
49    Jonathan Harris   46   Londres    66608    555

### Exercice 8
Triez le DataFrame par âge de manière décroissante.

In [316]:
df.sort_values(by='Age', ascending=False)

                  Nom  Age     Ville  Salaire  Prime
37        Shawn Brown   60   Londres    51748    940
36   Jacqueline Young   59  New York    98782   1792
15       Jade Johnson   58   Londres    90739   1025
40    Cameron Proctor   58  New York    69682   1727
39     Sydney Parsons   58   Londres    55435    898
43       Hannah Pitts   57     Paris    59378    687
29       Arthur Kelly   56   Londres    35689    780
12      James Hammond   56   Londres    78467    684
19     Kenneth Rogers   55     Paris    72024    807
22        Misty Stout   54  New York    38209   1547
20     Brandon Fuller   54   Londres    80659   1396
34        Mark Booker   52   Londres    36110   1242
7       Charles Tyler   52   Londres    92563   1631
4        Aaron Graham   52   Londres    86114   1998
30      Jeffrey Smith   51     Paris    31700   1227
41          Lori Pham   51  New York    95514   1021
25    William Wallace   51   Londres    52022   1988
24       Cynthia Webb   50     Paris    67367    620
47   Jonathan Gardner   49  New York    43530    912
49    Jonathan Harris   46   Londres    66608    555
2    Evelyn Christian   45     Paris    46166    532
26      Amanda Taylor   45     Paris    84533    629
32      William Baker   45  New York    51596   1579
48    Steven Peterson   43   Londres    88027    750
46   Shelby Robertson   43  New York    42079   1578
18        James Jones   41   Londres    31826   1345
31       Angel Benson   41   Londres    95117   1544
42     Antonio Taylor   41   Londres    91261    759
0     Brandon Russell   40   Londres    36392    568
16  Catherine Wilkins   40   Londres    96075   1909
11     Kelsey Pacheco   37  New York    72708    638
28     Jeffrey Fisher   36   Londres    85702   1513
1      Steven Johnson   36   Londres    53882    623
13     Melinda Little   34     Paris    58948    642
33        Paul Rogers   34  New York    55983   1804
8        Thomas Berry   32     Paris    35604    828
10       Robert Clark   32   Londres    48553    545
6    Jerome Whitehead   32     Paris    47287   1682
23      Wendy Maynard   28   Londres    63208   1175
35   Jennifer Robbins   28     Paris    65317   1473
21       Harold Perez   28  New York    59828   1795
44   Veronica Barnett   27  New York    67020   1302
5          Kyle Jones   25     Paris    95071   1487
17       Mary Jackson   25     Paris    67841   1776
14    Stefanie Tucker   25  New York    34214   1860
45       Rick Johnson   23   Londres    99181   1763
3         George Cook   22   Londres    32609   1445
9           Ryan Mack   21   Londres    91644   1752
27         David Bell   21  New York    76874   1413
38    Kimberly Thomas   20   Londres    99629    999

### Exercice 9
Groupez le DataFrame par ville et calculez la somme du salaire pour chaque ville.

In [317]:
df.groupby('Ville')['Salaire'].sum()

Ville
Londres     1739260
New York     806019
Paris        731236
Name: Salaire, dtype: int64

### Exercice 10
Sauvegardez le DataFrame dans un fichier CSV appelé 'donnees.csv'.

In [318]:
df.to_csv('donnees.csv')

### Exercice 11
Importez le DataFrame à partir du fichier CSV 'donnees.csv' que vous venez de créer.

In [319]:
df = pd.read_csv('donnees.csv')
df

    Unnamed: 0                Nom  Age     Ville  Salaire  Prime
0            0    Brandon Russell   40   Londres    36392    568
1            1     Steven Johnson   36   Londres    53882    623
2            2   Evelyn Christian   45     Paris    46166    532
3            3        George Cook   22   Londres    32609   1445
4            4       Aaron Graham   52   Londres    86114   1998
5            5         Kyle Jones   25     Paris    95071   1487
6            6   Jerome Whitehead   32     Paris    47287   1682
7            7      Charles Tyler   52   Londres    92563   1631
8            8       Thomas Berry   32     Paris    35604    828
9            9          Ryan Mack   21   Londres    91644   1752
10          10       Robert Clark   32   Londres    48553    545
11          11     Kelsey Pacheco   37  New York    72708    638
12          12      James Hammond   56   Londres    78467    684
13          13     Melinda Little   34     Paris    58948    642
14          14    Stefanie Tucker   25  New York    34214   1860
15          15       Jade Johnson   58   Londres    90739   1025
16          16  Catherine Wilkins   40   Londres    96075   1909
17          17       Mary Jackson   25     Paris    67841   1776
18          18        James Jones   41   Londres    31826   1345
19          19     Kenneth Rogers   55     Paris    72024    807
20          20     Brandon Fuller   54   Londres    80659   1396
21          21       Harold Perez   28  New York    59828   1795
22          22        Misty Stout   54  New York    38209   1547
23          23      Wendy Maynard   28   Londres    63208   1175
24          24       Cynthia Webb   50     Paris    67367    620
25          25    William Wallace   51   Londres    52022   1988
26          26      Amanda Taylor   45     Paris    84533    629
27          27         David Bell   21  New York    76874   1413
28          28     Jeffrey Fisher   36   Londres    85702   1513
29          29       Arthur Kelly   56   Londres    35689    780
30          30      Jeffrey Smith   51     Paris    31700   1227
31          31       Angel Benson   41   Londres    95117   1544
32          32      William Baker   45  New York    51596   1579
33          33        Paul Rogers   34  New York    55983   1804
34          34        Mark Booker   52   Londres    36110   1242
35          35   Jennifer Robbins   28     Paris    65317   1473
36          36   Jacqueline Young   59  New York    98782   1792
37          37        Shawn Brown   60   Londres    51748    940
38          38    Kimberly Thomas   20   Londres    99629    999
39          39     Sydney Parsons   58   Londres    55435    898
40          40    Cameron Proctor   58  New York    69682   1727
41          41          Lori Pham   51  New York    95514   1021
42          42     Antonio Taylor   41   Londres    91261    759
43          43       Hannah Pitts   57     Paris    59378    687
44          44   Veronica Barnett   27  New York    67020   1302
45          45       Rick Johnson   23   Londres    99181   1763
46          46   Shelby Robertson   43  New York    42079   1578
47          47   Jonathan Gardner   49  New York    43530    912
48          48    Steven Peterson   43   Londres    88027    750
49          49    Jonathan Harris   46   Londres    66608    555

### Exercice 12
Remplacez les valeurs de la colonne 'Salaire' par la racine carrée de ces valeurs.

In [320]:
df['Salaire'] = df['Salaire'] ** 0.5
df

    Unnamed: 0                Nom  Age     Ville     Salaire  Prime
0            0    Brandon Russell   40   Londres  190.766873    568
1            1     Steven Johnson   36   Londres  232.124966    623
2            2   Evelyn Christian   45     Paris  214.862747    532
3            3        George Cook   22   Londres  180.579622   1445
4            4       Aaron Graham   52   Londres  293.451870   1998
5            5         Kyle Jones   25     Paris  308.335856   1487
6            6   Jerome Whitehead   32     Paris  217.455743   1682
7            7      Charles Tyler   52   Londres  304.241680   1631
8            8       Thomas Berry   32     Paris  188.690222    828
9            9          Ryan Mack   21   Londres  302.727600   1752
10          10       Robert Clark   32   Londres  220.347453    545
11          11     Kelsey Pacheco   37  New York  269.644210    638
12          12      James Hammond   56   Londres  280.119617    684
13          13     Melinda Little   34     Paris  242.792092    642
14          14    Stefanie Tucker   25  New York  184.970268   1860
15          15       Jade Johnson   58   Londres  301.229149   1025
16          16  Catherine Wilkins   40   Londres  309.959675   1909
17          17       Mary Jackson   25     Paris  260.463049   1776
18          18        James Jones   41   Londres  178.398430   1345
19          19     Kenneth Rogers   55     Paris  268.372875    807
20          20     Brandon Fuller   54   Londres  284.005282   1396
21          21       Harold Perez   28  New York  244.597629   1795
22          22        Misty Stout   54  New York  195.471226   1547
23          23      Wendy Maynard   28   Londres  251.412012   1175
24          24       Cynthia Webb   50     Paris  259.551536    620
25          25    William Wallace   51   Londres  228.083318   1988
26          26      Amanda Taylor   45     Paris  290.745593    629
27          27         David Bell   21  New York  277.261609   1413
28          28     Jeffrey Fisher   36   Londres  292.749039   1513
29          29       Arthur Kelly   56   Londres  188.915325    780
30          30      Jeffrey Smith   51     Paris  178.044938   1227
31          31       Angel Benson   41   Londres  308.410441   1544
32          32      William Baker   45  New York  227.147529   1579
33          33        Paul Rogers   34  New York  236.607270   1804
34          34        Mark Booker   52   Londres  190.026314   1242
35          35   Jennifer Robbins   28     Paris  255.571908   1473
36          36   Jacqueline Young   59  New York  314.296039   1792
37          37        Shawn Brown   60   Londres  227.481867    940
38          38    Kimberly Thomas   20   Londres  315.640618    999
39          39     Sydney Parsons   58   Londres  235.446385    898
40          40    Cameron Proctor   58  New York  263.973484   1727
41          41          Lori Pham   51  New York  309.053393   1021
42          42     Antonio Taylor   41   Londres  302.094356    759
43          43       Hannah Pitts   57     Paris  243.676014    687
44          44   Veronica Barnett   27  New York  258.882213   1302
45          45       Rick Johnson   23   Londres  314.930151   1763
46          46   Shelby Robertson   43  New York  205.131665   1578
47          47   Jonathan Gardner   49  New York  208.638443    912
48          48    Steven Peterson   43   Londres  296.693444    750
49          49    Jonathan Harris   46   Londres  258.085257    555

### Exercice 13
Sélectionnez les lignes où la ville est 'Paris' et l'âge est inférieur à 30.

In [321]:
df[(df['Age'] < 30) & (df['Ville'] == 'Paris')]

    Unnamed: 0               Nom  Age  Ville     Salaire  Prime
5            5        Kyle Jones   25  Paris  308.335856   1487
17          17      Mary Jackson   25  Paris  260.463049   1776
35          35  Jennifer Robbins   28  Paris  255.571908   1473

### Exercice 14
Créez une nouvelle colonne 'Groupe_Age' en catégorisant l'âge en 'Jeune' (<30), 'Adulte' (30-50), et 'Senior' (>50).

In [322]:
df['Groupe_Age'] = pd.cut(df['Age'], [0, 30, 50, 100], labels=['Jeune', 'Adult', 'Senior'])
df

    Unnamed: 0                Nom  Age     Ville     Salaire  Prime Groupe_Age
0            0    Brandon Russell   40   Londres  190.766873    568      Adult
1            1     Steven Johnson   36   Londres  232.124966    623      Adult
2            2   Evelyn Christian   45     Paris  214.862747    532      Adult
3            3        George Cook   22   Londres  180.579622   1445      Jeune
4            4       Aaron Graham   52   Londres  293.451870   1998     Senior
5            5         Kyle Jones   25     Paris  308.335856   1487      Jeune
6            6   Jerome Whitehead   32     Paris  217.455743   1682      Adult
7            7      Charles Tyler   52   Londres  304.241680   1631     Senior
8            8       Thomas Berry   32     Paris  188.690222    828      Adult
9            9          Ryan Mack   21   Londres  302.727600   1752      Jeune
10          10       Robert Clark   32   Londres  220.347453    545      Adult
11          11     Kelsey Pacheco   37  New York  269.644210    638      Adult
12          12      James Hammond   56   Londres  280.119617    684     Senior
13          13     Melinda Little   34     Paris  242.792092    642      Adult
14          14    Stefanie Tucker   25  New York  184.970268   1860      Jeune
15          15       Jade Johnson   58   Londres  301.229149   1025     Senior
16          16  Catherine Wilkins   40   Londres  309.959675   1909      Adult
17          17       Mary Jackson   25     Paris  260.463049   1776      Jeune
18          18        James Jones   41   Londres  178.398430   1345      Adult
19          19     Kenneth Rogers   55     Paris  268.372875    807     Senior
20          20     Brandon Fuller   54   Londres  284.005282   1396     Senior
21          21       Harold Perez   28  New York  244.597629   1795      Jeune
22          22        Misty Stout   54  New York  195.471226   1547     Senior
23          23      Wendy Maynard   28   Londres  251.412012   1175      Jeune
24          24       Cynthia Webb   50     Paris  259.551536    620      Adult
25          25    William Wallace   51   Londres  228.083318   1988     Senior
26          26      Amanda Taylor   45     Paris  290.745593    629      Adult
27          27         David Bell   21  New York  277.261609   1413      Jeune
28          28     Jeffrey Fisher   36   Londres  292.749039   1513      Adult
29          29       Arthur Kelly   56   Londres  188.915325    780     Senior
30          30      Jeffrey Smith   51     Paris  178.044938   1227     Senior
31          31       Angel Benson   41   Londres  308.410441   1544      Adult
32          32      William Baker   45  New York  227.147529   1579      Adult
33          33        Paul Rogers   34  New York  236.607270   1804      Adult
34          34        Mark Booker   52   Londres  190.026314   1242     Senior
35          35   Jennifer Robbins   28     Paris  255.571908   1473      Jeune
36          36   Jacqueline Young   59  New York  314.296039   1792     Senior
37          37        Shawn Brown   60   Londres  227.481867    940     Senior
38          38    Kimberly Thomas   20   Londres  315.640618    999      Jeune
39          39     Sydney Parsons   58   Londres  235.446385    898     Senior
40          40    Cameron Proctor   58  New York  263.973484   1727     Senior
41          41          Lori Pham   51  New York  309.053393   1021     Senior
42          42     Antonio Taylor   41   Londres  302.094356    759      Adult
43          43       Hannah Pitts   57     Paris  243.676014    687     Senior
44          44   Veronica Barnett   27  New York  258.882213   1302      Jeune
45          45       Rick Johnson   23   Londres  314.930151   1763      Jeune
46          46   Shelby Robertson   43  New York  205.131665   1578      Adult
47          47   Jonathan Gardner   49  New York  208.638443    912      Adult
48          48    Steven Peterson   43   Londres  296.693444    750      Adult
49          49    Jonathan Harris   46   Londres  258.085257    555      Adult

### Exercice 15
Calculez la moyenne du salaire pour chaque groupe d'âge dans le DataFrame.

In [323]:
df.groupby('Groupe_Age')['Salaire'].mean()

Groupe_Age
Jeune     262.947711
Adult     245.280809
Senior    253.287575
Name: Salaire, dtype: float64

### Exercice 16
Créez une nouvelle colonne 'Classement' qui attribue le rang à chaque personne en fonction du salaire, en ordre décroissant. Gérez les égalités en attribuant la même valeur de classement à des salaires égaux.

In [324]:
df['Classement'] = df['Salaire'].rank(ascending=False)
df

,Unnamed: 0,Nom,Age,Ville,Salaire,Prime,Groupe_Age,Classement
0,0,Brandon Russell,40,Londres,190.766873,568,Adult,43.0
1,1,Steven Johnson,36,Londres,232.124966,623,Adult,33.0
2,2,Evelyn Christian,45,Paris,214.862747,532,Adult,39.0
3,3,George Cook,22,Londres,180.579622,1445,Jeune,48.0
4,4,Aaron Graham,52,Londres,293.451870,1998,Senior,13.0
5,5,Kyle Jones,25,Paris,308.335856,1487,Jeune,7.0
6,6,Jerome Whitehead,32,Paris,217.455743,1682,Adult,38.0
7,7,Charles Tyler,52,Londres,304.241680,1631,Senior,8.0
8,8,Thomas Berry,32,Paris,188.690222,828,Adult,46.0
9,9,Ryan Mack,21,Londres,302.727600,1752,Jeune,9.0
10,10,Robert Clark,32,Londres,220.347453,545,Adult,37.0
11,11,Kelsey Pacheco,37,New York,269.644210,638,Adult,19.0
12,12,James Hammond,56,Londres,280.119617,684,Senior,17.0
13,13,Melinda Little,34,Paris,242.792092,642,Adult,30.0
14,14,Stefanie Tucker,25,New York,184.970268,1860,Jeune,47.0
15,15,Jade Johnson,58,Londres,301.229149,1025,Senior,11.0
16,16,Catherine Wilkins,40,Londres,309.959675,1909,Adult,4.0
17,17,Mary Jackson,25,Paris,260.463049,1776,Jeune,22.0
18,18,James Jones,41,Londres,178.398430,1345,Adult,49.0
19,19,Kenneth Rogers,55,Paris,268.372875,807,Senior,20.0
20,20,Brandon Fuller,54,Londres,284.005282,1396,Senior,16.0
21,21,Harold Perez,28,New York,244.597629,1795,Jeune,28.0
22,22,Misty Stout,54,New York,195.471226,1547,Senior,42.0
23,23,Wendy Maynard,28,Londres,251.412012,1175,Jeune,27.0
24,24,Cynthia Webb,50,Paris,259.551536,620,Adult,23.0
25,25,William Wallace,51,Londres,228.083318,1988,Senior,34.0
26,26,Amanda Taylor,45,Paris,290.745593,629,Adult,15.0
27,27,David Bell,21,New York,277.261609,1413,Jeune,18.0
28,28,Jeffrey Fisher,36,Londres,292.749039,1513,Adult,14.0
29,29,Arthur Kelly,56,Londres,188.915325,780,Senior,45.0
30,30,Jeffrey Smith,51,Paris,178.044938,1227,Senior,50.0
31,31,Angel Benson,41,Londres,308.410441,1544,Adult,6.0
32,32,William Baker,45,New York,227.147529,1579,Adult,36.0
33,33,Paul Rogers,34,New York,236.607270,1804,Adult,31.0
34,34,Mark Booker,52,Londres,190.026314,1242,Senior,44.0
35,35,Jennifer Robbins,28,Paris,255.571908,1473,Jeune,26.0
36,36,Jacqueline Young,59,New York,314.296039,1792,Senior,3.0
37,37,Shawn Brown,60,Londres,227.481867,940,Senior,35.0
38,38,Kimberly Thomas,20,Londres,315.640618,999,Jeune,1.0
39,39,Sydney Parsons,58,Londres,235.446385,898,Senior,32.0
40,40,Cameron Proctor,58,New York,263.973484,1727,Senior,21.0
41,41,Lori Pham,51,New York,309.053393,1021,Senior,5.0
42,42,Antonio Taylor,41,Londres,302.094356,759,Adult,10.0
43,43,Hannah Pitts,57,Paris,243.676014,687,Senior,29.0
44,44,Veronica Barnett,27,New York,258.882213,1302,Jeune,24.0
45,45,Rick Johnson,23,Londres,314.930151,1763,Jeune,2.0
46,46,Shelby Robertson,43,New York,205.131665,1578,Adult,41.0
47,47,Jonathan Gardner,49,New York,208.638443,912,Adult,40.0
48,48,Steven Peterson,43,Londres,296.693444,750,Adult,12.0
49,49,Jonathan Harris,46,Londres,258.085257,555,Adult,25.0

### Exercice 17
Calculez la moyenne mobile sur trois périodes pour la colonne 'Salaire'. La moyenne mobile est la moyenne des valeurs actuelle, précédente et suivante dans la série.

In [325]:
df['MM'] = df['Salaire'].rolling(3).mean()
df

,Unnamed: 0,Nom,Age,Ville,Salaire,Prime,Groupe_Age,Classement,MM
0,0,Brandon Russell,40,Londres,190.766873,568,Adult,43.0,NaN
1,1,Steven Johnson,36,Londres,232.124966,623,Adult,33.0,NaN
2,2,Evelyn Christian,45,Paris,214.862747,532,Adult,39.0,212.584862
3,3,George Cook,22,Londres,180.579622,1445,Jeune,48.0,209.189112
4,4,Aaron Graham,52,Londres,293.451870,1998,Senior,13.0,229.631413
5,5,Kyle Jones,25,Paris,308.335856,1487,Jeune,7.0,260.789116
6,6,Jerome Whitehead,32,Paris,217.455743,1682,Adult,38.0,273.081156
7,7,Charles Tyler,52,Londres,304.241680,1631,Senior,8.0,276.677760
8,8,Thomas Berry,32,Paris,188.690222,828,Adult,46.0,236.795882
9,9,Ryan Mack,21,Londres,302.727600,1752,Jeune,9.0,265.219834
10,10,Robert Clark,32,Londres,220.347453,545,Adult,37.0,237.255092
11,11,Kelsey Pacheco,37,New York,269.644210,638,Adult,19.0,264.239754
12,12,James Hammond,56,Londres,280.119617,684,Senior,17.0,256.703760
13,13,Melinda Little,34,Paris,242.792092,642,Adult,30.0,264.185306
14,14,Stefanie Tucker,25,New York,184.970268,1860,Jeune,47.0,235.960659
15,15,Jade Johnson,58,Londres,301.229149,1025,Senior,11.0,242.997170
16,16,Catherine Wilkins,40,Londres,309.959675,1909,Adult,4.0,265.386364
17,17,Mary Jackson,25,Paris,260.463049,1776,Jeune,22.0,290.550624
18,18,James Jones,41,Londres,178.398430,1345,Adult,49.0,249.607051
19,19,Kenneth Rogers,55,Paris,268.372875,807,Senior,20.0,235.744785
20,20,Brandon Fuller,54,Londres,284.005282,1396,Senior,16.0,243.592196
21,21,Harold Perez,28,New York,244.597629,1795,Jeune,28.0,265.658595
22,22,Misty Stout,54,New York,195.471226,1547,Senior,42.0,241.358045
23,23,Wendy Maynard,28,Londres,251.412012,1175,Jeune,27.0,230.493622
24,24,Cynthia Webb,50,Paris,259.551536,620,Adult,23.0,235.478258
25,25,William Wallace,51,Londres,228.083318,1988,Senior,34.0,246.348956
26,26,Amanda Taylor,45,Paris,290.745593,629,Adult,15.0,259.460149
27,27,David Bell,21,New York,277.261609,1413,Jeune,18.0,265.363507
28,28,Jeffrey Fisher,36,Londres,292.749039,1513,Adult,14.0,286.918747
29,29,Arthur Kelly,56,Londres,188.915325,780,Senior,45.0,252.975325
30,30,Jeffrey Smith,51,Paris,178.044938,1227,Senior,50.0,219.903101
31,31,Angel Benson,41,Londres,308.410441,1544,Adult,6.0,225.123568
32,32,William Baker,45,New York,227.147529,1579,Adult,36.0,237.867636
33,33,Paul Rogers,34,New York,236.607270,1804,Adult,31.0,257.388413
34,34,Mark Booker,52,Londres,190.026314,1242,Senior,44.0,217.927038
35,35,Jennifer Robbins,28,Paris,255.571908,1473,Jeune,26.0,227.401830
36,36,Jacqueline Young,59,New York,314.296039,1792,Senior,3.0,253.298087
37,37,Shawn Brown,60,Londres,227.481867,940,Senior,35.0,265.783271
38,38,Kimberly Thomas,20,Londres,315.640618,999,Jeune,1.0,285.806175
39,39,Sydney Parsons,58,Londres,235.446385,898,Senior,32.0,259.522957
40,40,Cameron Proctor,58,New York,263.973484,1727,Senior,21.0,271.686829
41,41,Lori Pham,51,New York,309.053393,1021,Senior,5.0,269.491087
42,42,Antonio Taylor,41,Londres,302.094356,759,Adult,10.0,291.707078
43,43,Hannah Pitts,57,Paris,243.676014,687,Senior,29.0,284.941255
44,44,Veronica Barnett,27,New York,258.882213,1302,Jeune,24.0,268.217528
45,45,Rick Johnson,23,Londres,314.930151,1763,Jeune,2.0,272.496126
46,46,Shelby Robertson,43,New York,205.131665,1578,Adult,41.0,259.648010
47,47,Jonathan Gardner,49,New York,208.638443,912,Adult,40.0,242.900086
48,48,Steven Peterson,43,Londres,296.693444,750,Adult,12.0,236.821184
49,49,Jonathan Harris,46,Londres,258.085257,555,Adult,25.0,254.472382

### Exercice 18
Ajoutez une colonne 'Nom_Majuscule' qui contient le nom en majuscules uniquement pour les personnes dont l'âge est supérieur à la moyenne d'âge du DataFrame.

In [341]:
print(df['Age'].mean())
df['Nom_Majuscule'] = df.loc[df['Age'] > df['Age'].mean(), 'Nom'].str.upper()
df

41.38

,Unnamed: 0,Nom,Age,Ville,Salaire,Prime,Groupe_Age,Classement,MM,Nom_Majuscule
0,0,Brandon Russell,40,Londres,190.766873,568,Adult,43.0,NaN,NaN
1,1,Steven Johnson,36,Londres,232.124966,623,Adult,33.0,NaN,NaN
2,2,Evelyn Christian,45,Paris,214.862747,532,Adult,39.0,212.584862,EVELYN CHRISTIAN
3,3,George Cook,22,Londres,180.579622,1445,Jeune,48.0,209.189112,NaN
4,4,Aaron Graham,52,Londres,293.451870,1998,Senior,13.0,229.631413,AARON GRAHAM
5,5,Kyle Jones,25,Paris,308.335856,1487,Jeune,7.0,260.789116,NaN
6,6,Jerome Whitehead,32,Paris,217.455743,1682,Adult,38.0,273.081156,NaN
7,7,Charles Tyler,52,Londres,304.241680,1631,Senior,8.0,276.677760,CHARLES TYLER
8,8,Thomas Berry,32,Paris,188.690222,828,Adult,46.0,236.795882,NaN
9,9,Ryan Mack,21,Londres,302.727600,1752,Jeune,9.0,265.219834,NaN
10,10,Robert Clark,32,Londres,220.347453,545,Adult,37.0,237.255092,NaN
11,11,Kelsey Pacheco,37,New York,269.644210,638,Adult,19.0,264.239754,NaN
12,12,James Hammond,56,Londres,280.119617,684,Senior,17.0,256.703760,JAMES HAMMOND
13,13,Melinda Little,34,Paris,242.792092,642,Adult,30.0,264.185306,NaN
14,14,Stefanie Tucker,25,New York,184.970268,1860,Jeune,47.0,235.960659,NaN
15,15,Jade Johnson,58,Londres,301.229149,1025,Senior,11.0,242.997170,JADE JOHNSON
16,16,Catherine Wilkins,40,Londres,309.959675,1909,Adult,4.0,265.386364,NaN
17,17,Mary Jackson,25,Paris,260.463049,1776,Jeune,22.0,290.550624,NaN
18,18,James Jones,41,Londres,178.398430,1345,Adult,49.0,249.607051,NaN
19,19,Kenneth Rogers,55,Paris,268.372875,807,Senior,20.0,235.744785,KENNETH ROGERS
20,20,Brandon Fuller,54,Londres,284.005282,1396,Senior,16.0,243.592196,BRANDON FULLER
21,21,Harold Perez,28,New York,244.597629,1795,Jeune,28.0,265.658595,NaN
22,22,Misty Stout,54,New York,195.471226,1547,Senior,42.0,241.358045,MISTY STOUT
23,23,Wendy Maynard,28,Londres,251.412012,1175,Jeune,27.0,230.493622,NaN
24,24,Cynthia Webb,50,Paris,259.551536,620,Adult,23.0,235.478258,CYNTHIA WEBB
25,25,William Wallace,51,Londres,228.083318,1988,Senior,34.0,246.348956,WILLIAM WALLACE
26,26,Amanda Taylor,45,Paris,290.745593,629,Adult,15.0,259.460149,AMANDA TAYLOR
27,27,David Bell,21,New York,277.261609,1413,Jeune,18.0,265.363507,NaN
28,28,Jeffrey Fisher,36,Londres,292.749039,1513,Adult,14.0,286.918747,NaN
29,29,Arthur Kelly,56,Londres,188.915325,780,Senior,45.0,252.975325,ARTHUR KELLY
30,30,Jeffrey Smith,51,Paris,178.044938,1227,Senior,50.0,219.903101,JEFFREY SMITH
31,31,Angel Benson,41,Londres,308.410441,1544,Adult,6.0,225.123568,NaN
32,32,William Baker,45,New York,227.147529,1579,Adult,36.0,237.867636,WILLIAM BAKER
33,33,Paul Rogers,34,New York,236.607270,1804,Adult,31.0,257.388413,NaN
34,34,Mark Booker,52,Londres,190.026314,1242,Senior,44.0,217.927038,MARK BOOKER
35,35,Jennifer Robbins,28,Paris,255.571908,1473,Jeune,26.0,227.401830,NaN
36,36,Jacqueline Young,59,New York,314.296039,1792,Senior,3.0,253.298087,JACQUELINE YOUNG
37,37,Shawn Brown,60,Londres,227.481867,940,Senior,35.0,265.783271,SHAWN BROWN
38,38,Kimberly Thomas,20,Londres,315.640618,999,Jeune,1.0,285.806175,NaN
39,39,Sydney Parsons,58,Londres,235.446385,898,Senior,32.0,259.522957,SYDNEY PARSONS
40,40,Cameron Proctor,58,New York,263.973484,1727,Senior,21.0,271.686829,CAMERON PROCTOR
41,41,Lori Pham,51,New York,309.053393,1021,Senior,5.0,269.491087,LORI PHAM
42,42,Antonio Taylor,41,Londres,302.094356,759,Adult,10.0,291.707078,NaN
43,43,Hannah Pitts,57,Paris,243.676014,687,Senior,29.0,284.941255,HANNAH PITTS
44,44,Veronica Barnett,27,New York,258.882213,1302,Jeune,24.0,268.217528,NaN
45,45,Rick Johnson,23,Londres,314.930151,1763,Jeune,2.0,272.496126,NaN
46,46,Shelby Robertson,43,New York,205.131665,1578,Adult,41.0,259.648010,SHELBY ROBERTSON
47,47,Jonathan Gardner,49,New York,208.638443,912,Adult,40.0,242.900086,JONATHAN GARDNER
48,48,Steven Peterson,43,Londres,296.693444,750,Adult,12.0,236.821184,STEVEN PETERSON
49,49,Jonathan Harris,46,Londres,258.085257,555,Adult,25.0,254.472382,JONATHAN HARRIS

### Exercice 19
Créez une nouvelle colonne 'Difference_Age' qui contient la différence d'âge entre chaque personne et la personne suivante dans le DataFrame.

In [355]:
df['Difference_Age'] = df['Age'].shift(0) - df['Age'].shift(1)
# df['Difference_Age'] = df['Age'].diff()
df

,Unnamed: 0,Nom,Age,Ville,Salaire,Prime,Groupe_Age,Classement,MM,Nom_Majuscule,Difference_Age
0,0,Brandon Russell,40,Londres,190.766873,568,Adult,43.0,NaN,NaN,NaN
1,1,Steven Johnson,36,Londres,232.124966,623,Adult,33.0,NaN,NaN,-4.0
2,2,Evelyn Christian,45,Paris,214.862747,532,Adult,39.0,212.584862,EVELYN CHRISTIAN,9.0
3,3,George Cook,22,Londres,180.579622,1445,Jeune,48.0,209.189112,NaN,-23.0
4,4,Aaron Graham,52,Londres,293.451870,1998,Senior,13.0,229.631413,AARON GRAHAM,30.0
5,5,Kyle Jones,25,Paris,308.335856,1487,Jeune,7.0,260.789116,NaN,-27.0
6,6,Jerome Whitehead,32,Paris,217.455743,1682,Adult,38.0,273.081156,NaN,7.0
7,7,Charles Tyler,52,Londres,304.241680,1631,Senior,8.0,276.677760,CHARLES TYLER,20.0
8,8,Thomas Berry,32,Paris,188.690222,828,Adult,46.0,236.795882,NaN,-20.0
9,9,Ryan Mack,21,Londres,302.727600,1752,Jeune,9.0,265.219834,NaN,-11.0
10,10,Robert Clark,32,Londres,220.347453,545,Adult,37.0,237.255092,NaN,11.0
11,11,Kelsey Pacheco,37,New York,269.644210,638,Adult,19.0,264.239754,NaN,5.0
12,12,James Hammond,56,Londres,280.119617,684,Senior,17.0,256.703760,JAMES HAMMOND,19.0
13,13,Melinda Little,34,Paris,242.792092,642,Adult,30.0,264.185306,NaN,-22.0
14,14,Stefanie Tucker,25,New York,184.970268,1860,Jeune,47.0,235.960659,NaN,-9.0
15,15,Jade Johnson,58,Londres,301.229149,1025,Senior,11.0,242.997170,JADE JOHNSON,33.0
16,16,Catherine Wilkins,40,Londres,309.959675,1909,Adult,4.0,265.386364,NaN,-18.0
17,17,Mary Jackson,25,Paris,260.463049,1776,Jeune,22.0,290.550624,NaN,-15.0
18,18,James Jones,41,Londres,178.398430,1345,Adult,49.0,249.607051,NaN,16.0
19,19,Kenneth Rogers,55,Paris,268.372875,807,Senior,20.0,235.744785,KENNETH ROGERS,14.0
20,20,Brandon Fuller,54,Londres,284.005282,1396,Senior,16.0,243.592196,BRANDON FULLER,-1.0
21,21,Harold Perez,28,New York,244.597629,1795,Jeune,28.0,265.658595,NaN,-26.0
22,22,Misty Stout,54,New York,195.471226,1547,Senior,42.0,241.358045,MISTY STOUT,26.0
23,23,Wendy Maynard,28,Londres,251.412012,1175,Jeune,27.0,230.493622,NaN,-26.0
24,24,Cynthia Webb,50,Paris,259.551536,620,Adult,23.0,235.478258,CYNTHIA WEBB,22.0
25,25,William Wallace,51,Londres,228.083318,1988,Senior,34.0,246.348956,WILLIAM WALLACE,1.0
26,26,Amanda Taylor,45,Paris,290.745593,629,Adult,15.0,259.460149,AMANDA TAYLOR,-6.0
27,27,David Bell,21,New York,277.261609,1413,Jeune,18.0,265.363507,NaN,-24.0
28,28,Jeffrey Fisher,36,Londres,292.749039,1513,Adult,14.0,286.918747,NaN,15.0
29,29,Arthur Kelly,56,Londres,188.915325,780,Senior,45.0,252.975325,ARTHUR KELLY,20.0
30,30,Jeffrey Smith,51,Paris,178.044938,1227,Senior,50.0,219.903101,JEFFREY SMITH,-5.0
31,31,Angel Benson,41,Londres,308.410441,1544,Adult,6.0,225.123568,NaN,-10.0
32,32,William Baker,45,New York,227.147529,1579,Adult,36.0,237.867636,WILLIAM BAKER,4.0
33,33,Paul Rogers,34,New York,236.607270,1804,Adult,31.0,257.388413,NaN,-11.0
34,34,Mark Booker,52,Londres,190.026314,1242,Senior,44.0,217.927038,MARK BOOKER,18.0
35,35,Jennifer Robbins,28,Paris,255.571908,1473,Jeune,26.0,227.401830,NaN,-24.0
36,36,Jacqueline Young,59,New York,314.296039,1792,Senior,3.0,253.298087,JACQUELINE YOUNG,31.0
37,37,Shawn Brown,60,Londres,227.481867,940,Senior,35.0,265.783271,SHAWN BROWN,1.0
38,38,Kimberly Thomas,20,Londres,315.640618,999,Jeune,1.0,285.806175,NaN,-40.0
39,39,Sydney Parsons,58,Londres,235.446385,898,Senior,32.0,259.522957,SYDNEY PARSONS,38.0
40,40,Cameron Proctor,58,New York,263.973484,1727,Senior,21.0,271.686829,CAMERON PROCTOR,0.0
41,41,Lori Pham,51,New York,309.053393,1021,Senior,5.0,269.491087,LORI PHAM,-7.0
42,42,Antonio Taylor,41,Londres,302.094356,759,Adult,10.0,291.707078,NaN,-10.0
43,43,Hannah Pitts,57,Paris,243.676014,687,Senior,29.0,284.941255,HANNAH PITTS,16.0
44,44,Veronica Barnett,27,New York,258.882213,1302,Jeune,24.0,268.217528,NaN,-30.0
45,45,Rick Johnson,23,Londres,314.930151,1763,Jeune,2.0,272.496126,NaN,-4.0
46,46,Shelby Robertson,43,New York,205.131665,1578,Adult,41.0,259.648010,SHELBY ROBERTSON,20.0
47,47,Jonathan Gardner,49,New York,208.638443,912,Adult,40.0,242.900086,JONATHAN GARDNER,6.0
48,48,Steven Peterson,43,Londres,296.693444,750,Adult,12.0,236.821184,STEVEN PETERSON,-6.0
49,49,Jonathan Harris,46,Londres,258.085257,555,Adult,25.0,254.472382,JONATHAN HARRIS,3.0

### Exercice 20
Effectuez une jointure externe entre le DataFrame actuel et un nouveau DataFrame généré aléatoirement, contenant des informations factices sur les personnes. La jointure doit être basée sur la colonne 'Nom'.