# TD PANDAS

Commençons par générer les données factices avec la bibliothèque `faker`.

In [ ]:
from faker import Faker
import pandas as pd
import numpy as np

# Initialiser l'objet Faker
fake = Faker()

# Générer 50 noms de personnes aléatoires
noms = [fake.name() for _ in range(50)]

# Générer 50 âges aléatoires entre 20 et 60
ages = [fake.random_int(min=20, max=60) for _ in range(50)]

# Générer 50 villes aléatoires parmi Paris, Londres, New York
villes = [fake.random_element(elements=('Paris', 'Londres', 'New York')) for _ in range(50)]

# Générer 50 salaires aléatoires entre 30,000 et 100,000
salaires = [fake.random_int(min=30000, max=100000) for _ in range(50)]

# Créer le DataFrame
data = {'Nom': noms, 'Age': ages, 'Ville': villes, 'Salaire': salaires}
df = pd.DataFrame(data)

### Exercice 1
Affichez les cinq premières lignes du DataFrame.

### Exercice 2
Affichez le nombre total de lignes et de colonnes dans le DataFrame.

### Exercice 3
Affichez les statistiques descriptives pour la colonne 'Age'.

### Exercice 4
Sélectionnez uniquement les lignes où l'âge est supérieur à 40.

### Exercice 5
Calculez la moyenne du salaire pour chaque ville.

### Exercice 6
Ajoutez une nouvelle colonne 'Prime' avec des valeurs aléatoires entre 500 et 2000.

### Exercice 7
Supprimez la colonne 'Nom' du DataFrame.

### Exercice 8
Triez le DataFrame par âge de manière décroissante.

### Exercice 9
Groupez le DataFrame par ville et calculez la somme du salaire pour chaque ville.

### Exercice 10
Sauvegardez le DataFrame dans un fichier CSV appelé 'donnees.csv'.

### Exercice 11
Importez le DataFrame à partir du fichier CSV 'donnees.csv' que vous venez de créer.

### Exercice 12
Remplacez les valeurs de la colonne 'Salaire' par la racine carrée de ces valeurs.

### Exercice 13
Sélectionnez les lignes où la ville est 'Paris' et l'âge est inférieur à 30.

### Exercice 14
Créez une nouvelle colonne 'Groupe_Age' en catégorisant l'âge en 'Jeune' (<30), 'Adulte' (30-50), et 'Senior' (>50).

### Exercice 15
Calculez la moyenne du salaire pour chaque groupe d'âge dans le DataFrame.

### Exercice 16
Créez une nouvelle colonne 'Classement' qui attribue le rang à chaque personne en fonction du salaire, en ordre décroissant. Gérez les égalités en attribuant la même valeur de classement à des salaires égaux.

### Exercice 17
Calculez la moyenne mobile sur trois périodes pour la colonne 'Salaire'. La moyenne mobile est la moyenne des valeurs actuelle, précédente et suivante dans la série.

### Exercice 18
Ajoutez une colonne 'Nom_Majuscule' qui contient le nom en majuscules uniquement pour les personnes dont l'âge est supérieur à la moyenne d'âge du DataFrame.

### Exercice 19
Créez une nouvelle colonne 'Difference_Age' qui contient la différence d'âge entre chaque personne et la personne suivante dans le DataFrame.

### Exercice 20
Effectuez une jointure externe entre le DataFrame actuel et un nouveau DataFrame généré aléatoirement, contenant des informations factices sur les personnes. La jointure doit être basée sur la colonne 'Nom'.